/* Background color */
body {
	background-color: #103425;
}

/* Logo */
body.login #login h1 a {
	background-image: url('../images/logo/logo-techfarm.svg');
	background-size: 150px 108px;
	width: 150px;
	height: 108px;
}

/* Login form body */
body.login #login #loginform {
	background-color: #f3f3f3;
}
/* Login form body - Labels */
body.login #login #loginform label {
	color: #020202;
	font-weight: bold;
}

/* Login button */
.wp-core-ui .button-primary {
	background: #111111;
	border-color: #111111;
	box-shadow: none;
	color: #ffffff;
}
/* Login button - Hover */
.wp-core-ui .button-primary:hover {
	background: #ea5b0c;
	border-color: #ea5b0c;
	box-shadow: none;
}

/* Paragraph */
.login #nav a,
.login #backtoblog a {
	color: #fff;
}

.login #nav a:hover,
.login #backtoblog a:hover {
	color: #fff;
	text-decoration: underline;
}