tr.user-admin-color-wrap {
	display: none;
}
img.company_logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 15px;
}
table.company_information tr td:first-child {
	font-weight: bold;
	width: 150px;
}