/* Background color */
body {
	background-color: #eaeaea;
}

/* Logo */
body.login #login h1 a {
	background-image: url('../images/logo/logo-vollan.svg');
	background-size: 150px 35px;
	width: 150px;
	height: 35px;
}

/* Login form body */
body.login #login #loginform {
	background-color: #f3f3f3;
}
/* Login form body - Labels */
body.login #login #loginform label {
	color: #020202;
	font-weight: bold;
}

/* Login button */
.wp-core-ui .button-primary {
	background: #111111;
	border-color: #111111;
	box-shadow: none;
	color: #ffffff;
}
/* Login button - Hover */
.wp-core-ui .button-primary:hover {
	background: #ea5b0c;
	border-color: #ea5b0c;
	box-shadow: none;
}