/* Login button */
.wp-core-ui .button-primary {
	text-shadow: none;
}

/* Login button - Width and height */
.wp-core-ui .button-group.button-large .button, 
.wp-core-ui .button.button-large {
	padding: 18px;
	line-height: 0px;
}
body.login p.submit {
	padding-top: 50px !important;
}
body.login p.submit input {
	width: 100%;
}