/* Background color */
body {
	background-color: #eaeaea;
}
/* Logo */
body.login #login h1 a {
	background-image: url('../images/logo/logo-flikweert-it.png');
	background-size: 180px 126px;
	width: 180px;
	height: 126px;
}
/* Login form body */
body.login #login #loginform {
	background-color: #f3f3f3;
}
/* Login form body - Labels */
body.login #login #loginform label {
	color: #020202;
	font-weight: bold;
}
body.login #login #login_error {
	background-color: #f3f3f3;
}
/* Login button */
.wp-core-ui .button-primary {
	background: #111111;
	border-color: #111111;
	box-shadow: none;
	color: #ffffff;
}
/* Login button - Hover */
.wp-core-ui .button-primary:hover {
	background: #fff;
	border-color: #020202;
	box-shadow: none;
	color: #020202;
}