/* Background color */
body {
	background-color: #fff;
}
/* Logo */
body.login #login h1 a {
	background-image: url('../images/logo/logo-de-zeeuw.jpg');
	background-size: 149px 149px;
	width: 149px;
	height: 149px;
}
/* Login form body */
body.login #login #loginform {
	background-color: #f3f3f3;
}
/* Login form body - Labels */
body.login #login #loginform label {
	color: #020202;
	font-weight: bold;
}
body.login #login #login_error {
	background-color: #f3f3f3;
}
/* Login button */
.wp-core-ui .button-primary {
	background: #111111;
	border-color: #111111;
	box-shadow: none;
	color: #ffffff;
}
/* Login button - Hover */
.wp-core-ui .button-primary:hover {
	background: #08b2c3;
	border-color: #08b2c3;
	box-shadow: none;
}