/* Background color */
body {
	background-color: #eaeaea;
}
/* Logo */
body.login #login h1 a {
	background-image: url('http://ndrk.nl/files/uploads/ndrk_zwart1.svg');
	background-size: 296px 40px;
	width: 296px;
	height: 40px;
}
/* Login form body */
body.login #login #loginform {
	background-color: #f3f3f3;
}
/* Login form body - Labels */
body.login #login #loginform label {
	color: #020202;
	font-weight: bold;
}
/* Login button */
.wp-core-ui .button-primary {
	background: #111111;
	border-color: #111111;
	box-shadow: none;
	color: #ffffff;
}
/* Login button - Hover */
.wp-core-ui .button-primary:hover {
	background: #009a93;
	border-color: #009a93;
	box-shadow: none;
}