#cn-close-notice {
    display: none;
}

#cookie-notice {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    width: calc(100% - 40px);
    z-index: 1000;
}


#cookie-notice.cookie-notice-visible {
    display: block;
}

#cookie-notice h4 {
    font-size: 1.2em;
    margin: 0 0 .5em 0;
}

.cn-text-container a {
    text-decoration: underline;
    color: inherit;
    background: none !important;
    white-space: nowrap;
}

.cookie-notice-container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.cn-buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.cn-buttons-container a + a {
    margin-left: 10px !important;
}


@media (max-width: 1000px) {
    .cookie-notice-container {
        display: block;
        padding: 20px;
    }

    .cn-buttons-container {
        margin-top: 15px;
    }
}
